footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 25px 40px;
    gap: 20px;
    background-color: $bgcolor;

                    @include responsive {

                            padding: 10px 20px;
                             
                        }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        min-height: 200px;

                        @include responsive {
                        
                              flex-direction: column;
                        
                            }

        .text-section {
            flex: 1;
            padding: 10px 25px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-weight: 300;
            color: $activeText;
            font-size: 11px;

            @include responsive {

                            padding: 5px;
            
             
                }

            .icon-box{
                display: flex;
                gap: 10px;

                img{
                    cursor: pointer;
                }
            }


            
        }



        .footer-nav-section {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @include responsive {
            
                     width: 100%;
            
                }

 


            .footer-nav {
                width: 100%;

                h3 {
                    font-size: 16px;
                    font-weight: 500px;
                }

                li {
                    list-style: none;
                    margin: 5px 0px;


                    a {
                        text-decoration: none;
                        color: $activeText;
                        font-weight: 300;
                        font-size: 12px;



                    }
                }
            }

        }
    }

    .footer-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0px 5px;

        .f-bar {
            display: flex;


            ul {
                display: flex;
                list-style: none;

                li {
                    margin: 0 15px;
                    color: $activeText;
                    font-weight: 300;
                    font-size: 12px;
                    cursor: pointer;

                                @include responsive {
                                
                    font-size: 9px;
                                
                                    }
                }
            }
        }
    }
}